<div class="row">
	<div class="col-md-2">
	</div>

	<div class="col-md-8">
		
		<div 
			class="fb-page" 
			data-href="https://www.facebook.com/VoieAlternative/" 
			data-tabs="timeline" 
			data-width="" 
			data-height="" 
			data-small-header="false" 
			data-adapt-container-width="true" 
			data-hide-cover="false" 
			data-show-facepile="true"
			data-lazy="true">
			<blockquote cite="https://www.facebook.com/VoieAlternative/" class="fb-xfbml-parse-ignore">
				<a href="https://www.facebook.com/VoieAlternative/">
					Voie Alternative
				</a>
			</blockquote>
		</div>
	</div>
	<div class="col-md-2">
	</div>
</div>

