<!--The content below is only a placeholder and can be replaced.-->
<div id="navOuter">
    
    <div id="nav">
      <ul>
        
        <li>
          <a routerLink=""  href="#">ACTUALITÉS</a>
        </li>

        <li>
          <a routerLink="/portfolio" href="#">PORTFOLIO</a>
        </li>

        <li>
          <a routerLink="/crew" href="#">LE COLLECTIF</a>
        </li>
        
        <li>
          <a routerLink="/evenements" href="#">ÉVENEMENTS</a>
        </li>

        <li>
          <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
        </li>

        

      </ul>
    </div>

</div>

<div class="fnfn" id="topVoie" style="text-align:center">
  <h1>
      {{ title }}
  </h1>  
  <img width="100" alt="VoieAlternative.org • Digtal Arts Collective" src="assets/va_stamp.png">
</div>

<router-outlet>
 

</router-outlet>
