 <div id="coreContent">
  
  <div id="socialContent">
      <ul>

        <li>
          <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" 
              x="0px" 
              y="0px"
              width="32px" 
              height="32px" 
              viewBox="0 0 32 32" 
              enable-background="new 0 0 32 32" 
              xml:space="preserve">
              <path id="White_2_" fill="#ffffff" 
                d="M30.7,0H1.3C0.6,0,0,0.6,0,1.3v29.3C0,31.4,0.6,32,1.3,32H17V20h-4v-5h4v-4
              c0-4.1,2.6-6.2,6.3-6.2C25.1,4.8,26.6,5,27,5v4.3l-2.6,0c-2,0-2.5,1-2.5,2.4V15h5l-1,5h-4l0.1,12h8.6c0.7,0,1.3-0.6,1.3-1.3V1.3
              C32,0.6,31.4,0,30.7,0z"/>
            </svg>
            <a href="https://fb.me/VoieAlternative/">
              <p>facebook</p>  
            </a>
        </li>
              <li>
          <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
            <path fill="#444444" d="M28.2,0H3.8C1.7,0,0,1.7,0,3.8v24.4C0,30.3,1.7,32,3.8,32h24.4c2.1,0,3.8-1.7,3.8-3.8V3.8
              C32,1.7,30.3,0,28.2,0z M24,4h3c0.6,0,1,0.4,1,1v3c0,0.6-0.4,1-1,1h-3c-0.6,0-1-0.4-1-1V5C23,4.4,23.4,4,24,4z M16,9.9
              c3.4,0,6.2,2.7,6.2,6.1c0,3.4-2.8,6.1-6.2,6.1c-3.4,0-6.2-2.7-6.2-6.1C9.9,12.6,12.6,9.9,16,9.9z M28,29H4c-0.6,0-1-0.4-1-1V13h4
              c-0.5,0.8-0.7,2.1-0.7,3c0,5.4,4.4,9.7,9.7,9.7c5.4,0,9.7-4.4,9.7-9.7c0-0.9-0.1-2.3-0.8-3h4v15C29,28.6,28.6,29,28,29z"/>
            </svg>

          <a href="https://www.instagram.com/voie_alternative/">
            <p>instagram</p>
          </a>
        </li>
        <li>
            <img src="assets/soundcloud.svg" style="fill:#444444;" height="32px" alt="Soundcloud Officiel" title="Voie Alternative @ Soundcloud" />
            <a href="https://soundcloud.com/voiealternative">
              <p>soundcloud</p>
            </a>

        </li>
        
        <li>
            <img src="assets/mixcloud.svg" style="margin-top:2px" width="40px" height="40px" alt="Mixcloud Officiel" title="Voie Alternative @ Mixcloud" />
            <a href="https://www.mixcloud.com/voiealternative/">
              <p>mixcloud</p>
            </a>
        </li>
      </ul>
  </div>
<div class="container">
  <div class="row">
  <div id="aboutUs">
    <p>
      <strong>Voie Alternative</strong> est un collectif multidisciplinaire agissant comme incubateur & diffuseur des arts numériques et de la culture émergente, aussi appelé contre-culture. Depuis des années, nous facilitons l'accessibilité aux nouvelles technologiques et l’expérimentation audio-visuelle grâce à des rassemblements festifs et nocturne, à prix modique, et ainsi promouvoir le phénomène de la culture numérique et de la musique électronique au Québec, au Canada et partout ailleurs dans le monde.</p> 

      </div>             
  </div>
</div>  

</div>
<script>
  window.__INITIAL_DATA__ = {
    "userID": "536891193569405430"
  };
</script>